<div mat-dialog-content>
  <h1 mat-dialog-title> Adicoine as informações: </h1>
  <p>What's your favorite animal?</p>
</div>

<!--
<div mat-dialog-content>
    <h1 mat-dialog-title> Adicoine as informações: </h1>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
-->