.list-container {
    padding: 15px 0;
    position: relative;
}

table {
    position: relative;
    width: 100%;
    margin-top: 35px;
    border-radius: 12px;
    overflow: hidden;
}

table th {
    background: var(--indigo);
    color: white;
}

table * {
    text-align: center;
}

.filter-group {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.filter-group .filter-data, .filter-group .filter-buttons {
    width: 50%;
}


.filter-buttons, .filter-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.filter-data .custom-group, .filter-data mat-form-field {
    padding: 0 10px !important;
    width: 100%;
}