<div class="container">
  <div class="home-content padding-tb-30px">
      <h1> Bem vindo! </h1>
      <br/>
      <h2> Sistema gerenciados de cadastros pessoais </h2>
      <br/>
      <div class="flex-row-center">

              <!--
              <mat-card class="example-card">
                  <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Álisson de Freitas Moreira</mat-card-title>
                      <mat-card-subtitle>Desenvolvedor</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../../../assets/imgs/perfil.jpg" alt="Alisson de Freitas Moreira">
                  <mat-card-content>
                      <ul>
                          <li> Celular: 34 99117-4409 </li>
                          <li> E-mail: alisson_freitas@outlook.com </li>
                          <li> Endereço: Av. Salomao Abraao, 722 </li>
                      </ul>
                  </mat-card-content>
                  <mat-card-actions>
                  </mat-card-actions>
              </mat-card>
              -->

      </div>
  </div>
</div>