<div class="container">
  <div class="home-content padding-tb-30px">
      <h1> Bem vindo! </h1>
      <br/>
      <h2> Sistema gerenciados de cadastros pessoais </h2>
      <br/>
      <!-- <div class="flex-row-center"> -->
        <ul>
            <li>
                <span>Desenvolvedor: </span> Alisson de Freitas Moreira;
            </li>
            <li>
                <span>E-mail: </span> alisson_freitas@outlook.com;
            </li>
            <li>
                <span>Celular: </span> (34) 9 9117-4409;
            </li>
        </ul>

      <!-- </div> -->
  </div>
</div>