.content-container {
    padding: 15px 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.content-container .form-group {
    transition: width 0.4s;
    width: 50%;
    padding: 25px 15px !important;
    display: inline-block;
}

.button-container .form-group.button-container {
    width: 100%;
}

@media(max-width: 768px){
    .content-container .form-group {
        width: 100%;
    }
}